/**
 * Example from http://developer.yahoo.com/yui/examples/animation/colors.html
 * @package tgisamples
 * Ximport url('YAHOO/fonts');
 */
#demo {
    background:#ccc;
    margin-bottom:1em;
    height:100px;
    width:100px;
}
